/* pastel hex codes
yellow #e5e5a7
red #ffb3ba
green #baffc9
blue #bae1ff
orange #ffdfba */

* {
    font-family: 'Ubuntu', sans-serif;
}

body, html {
    height: 100%;
}

.main {
    margin: 0 auto;
    padding: 100px;
}
.main-bg {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(img/background.jpg); */
}
nav {
    position: fixed;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    
    
}

li {
    display: inline-flex;
    margin-right: 20px;
    list-style-type: none;
    float: right;
  }
  
a {
    text-decoration: none;
    color: #ffb3ba;
}

#connect {
    color: #000;
}


#nava {
    
    text-decoration: none;
    color: #ffb3ba;
    font-size: 22px;
    
  }

#nava:hover {
    text-decoration: underline;
}

#view-link:hover {
    text-decoration: underline;
}
/* img{
    width: 25px;
    height: 25px;
} */

.flowers {
    display: inline-flex;
    /* position: relative; */
    width: 100%;
    /* align-items: center; */
    /* margin: 0 auto;  */
   grid-template-rows: 50px;
  
    
}

.redflower {
    height: 40px;
    /* width: 40px; */
    margin: 0px auto;
    position: relative;
    animation-name: appear;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

.blueflower {
    height: 40px;
    /* width: 40px; */
    margin: 0px auto;
    position: relative;
    animation-name: appear;
    animation-duration: 3.8s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.yellowflower {
    /* width: 40px; */
    margin: 0px auto;
    position: relative;
    animation-name: appear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;

}

.greenflower {
    /* width: 40px; */
    margin: 0px auto;
    position: relative;
    animation-name: appear;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}

.orangeflower {
    margin: 0px auto;
    position: relative;
    animation-name: appear;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
}


@keyframes appear {
    0%   {
        top: 0px;
        left: 0px;
        
    }
   
   
  
    100% {
        top: 150px;
        left: 0px;
        opacity: 0.1;
    }
}




.intro {
      margin: 0 auto;
      text-align: center;
      
  }
  .smaller-intro {
    margin: 0 auto;
    text-align: center;
    
}



h1 {
    font-size: 90px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    /* cursor: pointer; */
    text-shadow: 1.5px 1.5px 1px #b4b4b4;
    

  }
h3 {
    font-size: 20px;
}
h4 {
    font-size: 24px;
}
i {
    font-size: 3em;
    padding: 3px;
    margin-bottom: 4px;
}

#icons {
    font-size: 10px;
    padding-left: 5px;
}
#view-link {
    padding: 5px;
    font-size: 20px;
}



h1:hover {
      transform: scale(1.1);
      transition-duration: 0.8s;
      /* transition-timing-function: ease-out; */
  }

  #item1:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
  }
  #item2:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
  }
  #item3:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
  }
  #item4:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
  }
  #item5:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
  }
  #item6:hover {
    transform: scale(1.05);
    transition-duration: 0.7s;
  }

p {
    padding: 5px;
}


/* 
  .flower {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    
  }
.petal {
    position: absolute;
    margin: auto;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 0;
    background-color: blue;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}
/*
grid-template-areas:
      "header header header"
      "advert content content"
      "footer footer footer";
      
grid-template-columns: repeat(3, 1fr);
*/
#portfolio {
    height: 100px;
    
}
#port-target {
    max-width: 1080px;
    margin: auto;
}
.container {
    display: grid;
    /* grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50px 50px; */
    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */
    /* grid-gap: 20px 20px; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-column-gap: 10px; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 35px;
    padding-left: 130px;
    padding-right: 100px;
    background: #fff;
    
    
    
}

/*
grid-row: 2 / 4;
justify-self: center;
align-self: end;
justify-items:
align-items:
*/
#item1, #item2, #item3, #item4, #item5, #item6 {
background: black;
height: 250px;
width: 250px;
box-shadow: 0 5px 30px rgba(0,0,0,0.19), 0 5px 30px rgba(0,0,0,0.23);
border-radius: 1%;
color: #ffb3ba;
text-align: center;
}



footer {
    text-align: center;
    padding: 10px;
}